body{
    padding : 20px;
    line-height: 40px;
}
article{
    margin-bottom : 40px;
}
h1,h2{
    color:orange;
    border-bottom : 1px solid orange;
    font-weight: bold;
}
h3{
    color:skyblue;
    font-weight: bold;
}
div{
    margin-bottom:20px;
}
textarea{
    border: none;
    outline: none;
    resize: none;
}
.darkorange{
    color:darkorange;
    font-weight: bold;
}
.box{
    border: 1px solid F4F4F4;
    background-color: #F4F4F4;
    font-weight: bold;
    width: 95vw;
    padding:20px;
}
.ta_btn{
    padding: 7px 25px;
    border:none;
    background: #F8934D;
    color:white;
    height: 60px;
    width:350px;
    font-size: 18px;
}
.ta_btn_div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#categoryDiv{
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
#goCategory{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
table th, table td{
	border-top : 1px solid #E1E1E1;
	border-bottom : 1px solid #E1E1E1;
	background-color: white;
	vertical-align: middle;
}
table th:first-child, table td:first-child{
	border-left : 1px solid #E1E1E1;
}
table th:last-child, table td:last-child{
	border-right : 1px solid #E1E1E1;
}
table{
	border-collapse: collapse;
}
table thead td, table thead th{
	background-color: #FBFBFB;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
}
table tbody td{
	text-align: center;
}