<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>객체리터럴</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="/src/css/공통.css" type="text/css">
<body>
    <div id="categoryDiv">
        <a id="goCategory" href="/templates/목차.html">목차로</a>
    </div>
    <article>
        <h1>10장 객체 리터럴</h1>
    </article>
    <article>
        <h2>10.1 객체란?</h2>
        원시값을 제외한 모든값은 객체다.<br>
        객체는 프로퍼티와 메서드로 구성.
    </article>
    
<script src="/src/js/공통.js"></script>    
<script src="/src/js/객체리터럴.js"></script>   
</body>
</html>
