<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>목차</title>
</head>
<style>
    ul{
		padding-left:50px;
		margin:0;
	}
    li{
        margin-bottom:10px;
    }
</style>
<body>
    <h1>모던자바스크립트</h1>
    <ul>
        <li>
            <a href="/templates/제어문.html">08장. 제어문</a>
        </li>
        <li>
            <a href="/templates/타입변환과단축평가.html">09장. 타입 변환과 단축 평가</a>
        </li>
        <li>
            <a href="/templates/객체리터럴.html">10장. 객체 리터럴</a>
        </li>
    </ul>
</body>
</html>